svg {
  background: #000;
}

.d3Selector {
    position: absolute;
    color: #fff;
    top: 25px;
    left: 25px;
    padding: 20px;
}

#maindiv div {
    width:20
}
#counties path {
  stroke: #fff;
  stroke-width: .25px;
}

#states path {
  stroke: #000;
  stroke-width: 1px;
}

.axis line,.axis path {
    fill: none;
    stroke: beige;
    shape-rendering: crispEdges;
}

.axis text {
    fill: white;
    font-family: sans-serif;
    font-size: 12px;
}

.line line, .line path{
    fill:none;
    stroke:white;
    stroke-width:1.5px
}

#legend text {
    fill:white;
}

circle.plot {
    opacity:0.8;
    color:white;
    fill:white;
}

circle.highlit {
    r:18;
    opacity:1;
}

